{%- if paginate.pages > 1 -%}
<div class="pagination" role="navigation" aria-label="pagination">
  {%- if paginate.previous.is_link -%}
    {%- capture previous_link_url -%}
    {%- if paginate.current_page == 2 -%}
      {%- if template contains "search" -%}
      {{ paginate.previous.url | replace: 'page=1', '' | replace: '?&', '?' | replace: '&&', '&' }}
      {%- else -%}
      {{ paginate.previous.url | replace: '?page=1', '' }}
      {%- endif -%}
    {%- else -%}
      {{ paginate.previous.url }}
    {%- endif -%}
    {%- endcapture -%}
    <span class="page prev">
      <a href="{{ previous_link_url }}" title="Previous page">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path></svg>
        <span class="visually-hidden"> Previous page</span>
      </a>
  	</span>
  {%- endif -%}
  {%- for part in paginate.parts -%}
    {%- if part.is_link -%}
      {%- capture part_link_url -%}
      {%- if part.title == 1 -%}
        {%- if template contains "search" -%}
        {{ part.url | replace: 'page=1', '' | replace: '?&', '?' | replace: '&&', '&' }}
        {%- else -%}
        {{ part.url | replace: '?page=1', '' }}
        {%- endif -%}
      {%- else -%}
      {{ part.url }}
      {%- endif -%}
      {%- endcapture -%}
      <span class="page"><a href="{{ part_link_url }}">{{ part.title }}</a></span>
    {%- else -%}
      {%- assign is_deco = part.title | divided_by: 1 -%}
      {%- if is_deco != part.title -%}
      <span class="deco" aria-hidden="true"><span class="visually-hidden">Page </span>{{ part.title }}</span>
      {%- else -%}
      <span class="page current" aria-current="page">{{ part.title }}</span>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if paginate.next.is_link -%}
    <span class="page next">
      <a href="{{ paginate.next.url }}" title="Next page">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"></path></svg>
        <span class="visually-hidden"> Next page</span>
      </a>
 	</span>
  {%- endif -%}
</div>
{%- endif -%}